# Calculate Tandem Stop Codons Overepresentation for Genes ending in different stop codons

In [1]:
import os
import pandas as pd
import math
utrSize = 20
numberOfPositions = utrSize // 3

filein = open('Stentor_coeruleus.utr20','r')
stops = ['TAA','TAG','TGA']
#Calculate frequency of stops in the 3' UTRs

tandems = []

filein.readline()
for line in filein:
    num, name, realStop, utr, seq = line.split()
    utr = utr.upper()
    tandem = 0
    for i in range(numberOfPositions):
        current = utr[i*3:i*3+3]
        if current in stops:
            tandem = i + 1
            break
    found = 0
    if tandem:
        found = 1
    tandems.append([name, realStop,tandem,found,1])

filein.close()

tandemDF = pd.DataFrame(tandems, columns=['gene','stop','tandemPos',
                                         'hasTandem','counter'])

In [2]:
tandemDF

               gene stop  tandemPos  hasTandem  counter
0          SteCoe_1  TAA          5          1        1
1          SteCoe_2  TAA          0          0        1
2          SteCoe_3  TAA          0          0        1
3          SteCoe_4  TAA          4          1        1
4          SteCoe_5  TAA          3          1        1
5          SteCoe_6  TAA          4          1        1
6          SteCoe_7  TAA          0          0        1
7          SteCoe_8  TAA          0          0        1
8          SteCoe_9  TAG          0          0        1
9         SteCoe_10  TAG          0          0        1
10        SteCoe_11  TGA          6          1        1
11        SteCoe_12  TAG          3          1        1
12        SteCoe_13  TAA          4          1        1
13        SteCoe_14  TAA          3          1        1
14        SteCoe_15  TAG          0          0        1
15        SteCoe_16  TAA          3          1        1
16        SteCoe_17  TAA          0          0        1
17        SteCoe_18  TAG          0          0        1
18        SteCoe_19  TAA          6          1        1
19        SteCoe_20  TAA          0          0        1
20        SteCoe_21  TAA          1          1        1
21        SteCoe_22  TGA          4          1        1
22        SteCoe_23  TAA          5          1        1
23        SteCoe_24  TAA          1          1        1
24        SteCoe_25  TAA          2          1        1
25        SteCoe_26  TAG          6          1        1
26        SteCoe_27  TGA          2          1        1
27        SteCoe_28  TGA          3          1        1
28        SteCoe_29  TAG          3          1        1
29        SteCoe_30  TAA          1          1        1
...             ...  ...        ...        ...      ...
34217  SteCoe_30442  TAA          1          1        1
34218  SteCoe_30443  TAA          4          1        1
34219  SteCoe_30444  TAG          6          1        1
34220  SteCoe_30445  TAA          3          1        1
34221  SteCoe_30446  TAA          0          0        1
34222  SteCoe_30447  TGA          4          1        1
34223  SteCoe_30448  TAA          0          0        1
34224  SteCoe_30449  TAA          3          1        1
34225  SteCoe_30450  TAA          0          0        1
34226  SteCoe_30451  TAG          4          1        1
34227  SteCoe_30452  TAA          3          1        1
34228  SteCoe_30454  TAA          0          0        1
34229  SteCoe_30455  TGA          3          1        1
34230  SteCoe_30456  TGA          2          1        1
34231  SteCoe_30457  TAA          0          0        1
34232  SteCoe_30458  TAG          0          0        1
34233  SteCoe_30459  TAA          0          0        1
34234  SteCoe_30460  TAG          4          1        1
34235  SteCoe_30463  TAA          0          0        1
34236  SteCoe_30464  TAA          5          1        1
34237  SteCoe_30466  TAA          6          1        1
34238  SteCoe_30468  TAG          3          1        1
34239  SteCoe_30469  TAG          5          1        1
34240  SteCoe_30470  TAA          0          0        1
34241  SteCoe_30471  TAA          0          0        1
34242  SteCoe_30472  TAG          0          0        1
34243  SteCoe_30475  TAA          0          0        1
34244  SteCoe_30476  TAG          3          1        1
34245  SteCoe_30477  TAA          0          0        1
34246  SteCoe_30478  TAA          2          1        1

[34247 rows x 5 columns]

In [3]:
sumTandem = tandemDF.groupby('stop').sum()

In [4]:
sumTandem['ratio']=sumTandem['hasTandem']/sumTandem['counter']

In [6]:
sumTandem.to_csv('tandemTable.tsv',sep='\t')
sumTandem

      tandemPos  hasTandem  counter     ratio
stop
TAA       33498      11109    20593  0.539455
TAG       19101       5735    10605  0.540783
TGA        5374       1738     3049  0.570023

In [12]:
obsTSC = sumTandem['hasTandem']['TGA']
obsNo = sumTandem['counter']['TGA'] - sumTandem['hasTandem']['TGA']
expFreq = ((sumTandem['hasTandem']['TAA']+sumTandem['hasTandem']['TAG'])/
          (sumTandem['counter']['TAA']+sumTandem['counter']['TAG']))
expTSC = sumTandem['counter']['TGA'] * expFreq
expNo = sumTandem['counter']['TGA'] * (1-expFreq)

print(obsTSC, obsNo)
print(expTSC, expNo)

1738 1311
1646.1746265786269 1402.8253734213731

In [13]:
from scipy.stats import chisquare
obs = [obsTSC,obsNo]
exp = [expTSC,expNo]
chisquare(obs,exp)

Power_divergenceResult(statistic=11.132771999305557, pvalue=0.0008481574478831344)